
<table class="table no-border" id="issueTable">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Создал</th>
    <th scope="col">Тема</th>
    <th scope="col">Описание</th>
    <th scope="col">Cоздана</th>
    <th scope="col">Назначена</th>
    <th scope="col">Статус</th>
    <th scope="col"></th>


  </tr>
  </thead>
  <tbody id="issueAll">

  <% issues.each do |issue| %>

      <% unless issue.owner %>

          <tr data-id="<%=issue.id%>">
            <td><%=link_to issue.id, issue_path(id: issue.id), method: :get%></td>
            <td><%= link_to issue.author.username, user_path(id: issue.author.id), method: :get%></td>
            <td><%= link_to truncate(issue.subject, length: 32), issue_path(id: issue.id), method: :get %></td>
            <td class="bodyText" style="padding-top: 1.573rem">
              <%=issue.body ? truncate(issue.body, length: 30) : 'Нету'%>

            </td>
            <td><%= l(issue.created_at, format: "%e %b %Y %H:%M")%></td>
            <td><%= issue.owner ? link_to(issue.owner.username, user_path(id: issue.owner.id), method: :get) : 'Нету'%></td>
            <td><%=issue.status%></td>


            <% if issue.status == 'Новая' %>
                <td>
                  <%= link_to to_work_path(id: issue.id), remote: :true, class: 'btn btn-sm custom-button-blue' do %>
                      В работу
                  <% end %>
                </td>
            <% else %>
                <td>
                  <%= link_to to_later_path(id: issue.id), remote: :true, class: 'btn btn-sm custom-button-yellow' do %>
                      Отложить
                  <% end %>

                  <%= link_to to_close_path(id: issue.id), remote: :true, class: 'btn btn-sm custom-button-green' do %>
                      Выполнена
                  <% end %>
                  <%= link_to to_cancel_path(id: issue.id), remote: :true, class: 'btn btn-sm custom-button-red' do %>
                      Отмена
                  <% end %>
                </td>
            <% end %>


          </tr>
      <% end %>

  <% end %>
  </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#issueTable').dataTable({
            "autoWidth": false,
            pagingType: 'simple_numbers',
            scrollCollapse: false,
            /*            processing: true,*/
            "responsive": false,
            "info": true,
            "ordering": true,
            "bPaginate": true,
            "bStateSave": true,
            "fnStateSave": function (oSettings, oData) {
                localStorage.setItem('offersDataTables', JSON.stringify(oData));
            },
            "fnStateLoad": function (oSettings) {
                return JSON.parse(localStorage.getItem('offersDataTables'));

            },

            "columnDefs": [{
                "targets": [7],
                "orderable": false
            }],

            "language": {
                "sProcessing": "Подождите...",
                "sLengthMenu": "Показать _MENU_ записей",
                "sZeroRecords": "Записи отсутствуют.",
                "sEmptyTable": "В таблице отсутствуют данные",
                "sInfo": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "sInfoEmpty": "Записи с 0 до 0 из 0 записей",
                "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                "sInfoPostFix": "",
                "sSearch": "",
                "sUrl": "",
                "searchPlaceholder": "Поиск...",
                "sInfoThousands": ",",
                "sLoadingRecords": "Загрузка записей...",
                "oPaginate": {
                    "sFirst": "Первая",
                    "sLast": "Последняя",
                    "sNext": "Следующая",
                    "sPrevious": "Предыдущая"
                },
                "oAria": {
                    "sSortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sSortDescending": ": активировать для сортировки столбца по убыванию"
                }
            }

        });


        $('.row').addClass("table-label");
        $('.dataTables_filter input').addClass('pull-right');

        $('.bodyText').each(function () {
            str = $(this).text()
            html = $.parseHTML(str)
            $(this).html(html)
        })
    });
</script>