<div class="wrapper">

  <%= render 'layouts/left_navbar' %>
  <!-- Page Content  -->
  <div id="content" style="overflow-y: scroll; width: 100%">

    <%= render 'layouts/navbar' %>
    <div class="container-fluid">

      <div class="row" style="margin-top: 35px; margin-left: 5px; margin-right: 5px">
        <div class="col-12">
          <div class="card">

            <div class="card-header real-blue">
              <h5>Категории заявок</h5>
              <span style="color: rgba(255,255,255,.62); font-size: .875rem;">Добавить/удалить категорию и установить баллы</span>
            </div>

            <%= form_tag categories_create_path, method: :post do %>
                <div class="form-inline" style="margin-top: 25px">
                <label class="mr-sm-2" for="inlinenameinput">Название категории:</label>
                <%= text_field_tag :name, nil, class: 'form-control form-control-sm mb-2 mr-sm-2 mb-sm-0',
                                   style: 'border: 1px solid #a9a9a9', id: 'inlinenameinput' %>

                  <label class="mr-sm-2" for="inlinetime">Допустимое время:</label>
                  <input type="text" name="per_time" class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0"
                         value='00:00' style="width: 10%; min-width: 70px" id="inlinetime">

                <label class="mr-sm-2" for="inlinenumberinput">Баллы:</label>
                <input class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0" name="rate"
                       type="number" id="inlinenumberinput" style="width: 10%; min-width: 70px">

                <%= button_tag(type: "submit", class: "btn btn-sm custom-button-blue mb-1 ml-1") do %>
                    <i class="fa fa-check" aria-hidden="true"></i>
                      Добавить
                <% end %>

                </div>
            <% end %>

            <hr>
            <h5 style="padding-bottom: 15px">Текущие категории:</h5>
            <table class="table no-border" id="categoriesTable">
              <thead>
              <tr class="row" style="margin-left: 1px">
                <th class="col-4">Название</th>
                <th class="col-1">Допустимое время</th>
                <th class="col-1">Балы</th>
                <th class="col-4"></th>
              </tr>
              </thead>
              <tbody>
                <% @categories.each do |cs| %>
                  <tr class="row" style="margin-left: 1px">
                    <%= form_tag  categories_update_path, method: :post do %>
                      <td class="col-4"><%= text_field_tag :name, nil, placeholder: cs.name, class: 'form-control'%></td>
                      <td class="col-1">
                        <div class="input-group" id="clockpicker<%=cs.id%>">
                          <input type="text" name="per_time" class="form-control"
                                 value=<%= cs.permissible_time ? time_conversion(cs.permissible_time) : '00:00' %>>
                          <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                        </div>
                        <script type="text/javascript">
                            $('#clockpicker<%=cs.id%>').clockpicker({
                                placement: 'top',
                                donetext: 'Готово'
                            });
                        </script>
                      </td>
                      <td class="col-1"><%= text_field_tag :rate, nil, placeholder: cs.rate ? cs.rate : '0',
                                             class: 'form-control' %></td>
                      <td class="col-4">
                        <%= hidden_field_tag :id, cs.id %>
                        <%= button_tag(type: "submit", class: "btn btn-sm custom-button-blue") do %>
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Редактировать
                        <% end %>
                    <% end %>
                      <%= link_to categories_destroy_path(id: cs.id),
                                  class: 'btn btn-sm custom-button-red' do %>
                          <i class="fa fa-close" aria-hidden="true"></i>
                          Удалить
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

    $(document).ready(function() {

        $('#inlinetime').clockpicker({
            donetext: 'Готово'
        });

        $(".editCs").each(function() {
            $(this).on('click', function (e) {

            });
        });

        $('#categoriesTable').dataTable({
            "autoWidth": false,
            pagingType: 'simple_numbers',
            scrollCollapse: false,
            /*            processing: true,*/
            "responsive": false,
            "info": true,
            "ordering": false,
            "bPaginate": true,
            "bStateSave": true,
            "fnStateSave": function (oSettings, oData) {
                localStorage.setItem('offersDataTables', JSON.stringify(oData));
            },
            "fnStateLoad": function (oSettings) {
                return JSON.parse(localStorage.getItem('offersDataTables'));

            },

            "columnDefs": [{
                "targets": [0, 3],
                "orderable": false
            }],

            "language": {
                "sProcessing": "Подождите...",
                "sLengthMenu": "Показать _MENU_ записей",
                "sZeroRecords": "Записи отсутствуют.",
                "sEmptyTable": "В таблице отсутствуют данные",
                "sInfo": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "sInfoEmpty": "Записи с 0 до 0 из 0 записей",
                "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                "sInfoPostFix": "",
                "sSearch": "",
                "sUrl": "",
                "searchPlaceholder": "Поиск...",
                "sInfoThousands": ",",
                "sLoadingRecords": "Загрузка записей...",
                "oPaginate": {
                    "sFirst": "Первая",
                    "sLast": "Последняя",
                    "sNext": "Следующая",
                    "sPrevious": "Предыдущая"
                },
                "oAria": {
                    "sSortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sSortDescending": ": активировать для сортировки столбца по убыванию"
                }
            }

        });

        $('.dataTables_filter input').css('display', 'none');
    });
</script>