<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Postdesk</h3>
      <strong>PD</strong>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fa fa-home"></i>
          <span>Домой</span>
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-briefcase"></i>
          <span>Home</span>
        </a>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fa fa-copy"></i>
          <span>Home</span>
        </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
    </ul>

  </nav>

  <!-- Page Content  -->
  <div id="content" style="overflow-y: scroll; width: 100%">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: transparent !important;">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-toggle">
          <i id="toggleIcon" class="fa fa-ellipsis-v"></i>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="nav navbar-nav" style="margin-left: 50px">
            <li class="nav-item">
              <a class="nav-link bread" href="#">Домой</a>
            </li>
          </ul>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">

            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row" style="margin-top: 50px; margin-left: 5px">
        <div class="col-5">
          <div class="card">
            <h5>Создать задачу:</h5>
            <br>


          </div>
        </div>

        <div class="col-3">

        </div>

      </div>

    </div>

  </div>
</div>

<script>
    $( "#test" ).select2({
        language: "ru-RU",

    });

</script>

<%= subscribe_to "/issues/count" %>