<div class="wrapper">

  <%= render 'layouts/left_navbar' %>
  <!-- Page Content  -->
  <div id="content" style="overflow-y: scroll; width: 100%">

    <%= render 'layouts/navbar' %>
    <div class="container-fluid">

      <div class="row" style="margin-top: 35px; margin-left: 5px; margin-right: 5px">
        <div class="col-12">
          <div class="card">

            <div class="card-header real-blue">
              <h5>Время реагирования</h5>
              <span style="color: rgba(255,255,255,.62); font-size: .875rem;">Установить время реагирования на заявку</span>
            </div>

            <%= form_tag set_response_time_path, method: :post do %>
                <div class="form-inline" style="margin-top: 25px">
                  <label class="mr-sm-2" for="inlinenameinput">Время реагирования:</label>
                  <%= text_field_tag :minutes, nil, class: 'form-control form-control-sm mb-2 mr-sm-2 mb-sm-0',
                                     style: 'border: 1px solid #a9a9a9', id: 'inlinenameinput',
                                     placeholder: 'сейчас: '+@current %>
                  <span>минут</span>
                  <%= button_tag(type: "submit", class: "btn btn-sm custom-button-blue mb-1 ml-1") do %>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      Установить
                  <% end %>
                </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

