<% comments.order('created_at DESC').reverse.each do |comment| %>
    <div class="row no-gutters <%=self_or_other(comment)%>"
         style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 0.5rem">
      <div class="col-auto">
        <img src="<%=find_user_by_id(comment.user_id).avatar.url%>" class="img-fluid" width="42" height="42">
      </div>
      <div class="col">
        <div class="pl-2">
          <sup class="float-right pr-2 mt-3">
            <%=comment.created_at%>
          </sup>
          <h6 class="card-title mb-0"><%=find_user_by_id(comment.user_id).username%></h6>
          <p class="card-text"><%=comment.body%></p>
        </div>
      </div>
    </div>
<% end %>

<script>
    $('#alwaysBottom').animate({scrollTop: $('#alwaysBottom').prop('scrollHeight')}, 10);

</script>