<% publish_to "/comments/#{@issue.id}" do %>
  $('#comments').html("<%= j render(:partial => '/comments/comments', :locals => {comments: @comments}) %>")

  if (window.location.href.indexOf('issue?id=') > 0) {
      $.ajax({
          url: "<%= comments_readed_path %>",
          type: "GET",
          data: {issue_id: <%=@issue.id%>}
      })
  }
<% end %>

<% publish_to "/users/#{@issue.id}" do%>
  $.ajax({
      url: "<%= count_specific_unread_path %>",
      type: "GET",
      data: {issue_id: <%=@issue.id%>}
  }).done(function(response) {
      if (response.comments.counter > 0) {
          $('#unreadCount<%=@issue.id%>').text(response.comments.counter);

      }else {
          $('#unreadCount<%=@issue.id%>').text('');

      }
  });
<% end %>

<% publish_to "/comments/count/#{@author}" do %>
  $.ajax({
      url: "<%= count_unread_path %>",
      type: "GET"
  }).done(function(response) {
      /*console.log(response.comments.comments)*/
      if (response.comments.counter > 0) {
          $('#unreadCount').text(response.comments.counter);
      }else {
          $('#unreadCount').text('');
      }
  });
<% end %>

<% if @owner %>
  <% publish_to "/comments/count/#{@owner}" do %>
      $.ajax({
          url: "<%= count_unread_path %>",
          type: "GET"
      }).done(function(response) {
          /*console.log(response.comments.comments)*/
          if (response.comments.counter > 0) {
              $('#unreadCount').text(response.comments.counter);
          }else {
              $('#unreadCount').text('');
          }
      });
  <% end %>
<% end %>


<% publish_to "/issuesComments/#{@issue.id}" do %>
  $('#commentsIssuesList a').each(function() {
     if ($(this).data('id') == <%=@issue.id%> ){
        $(this).remove();
        $('#commentsIssuesList').prepend("<%= j render(@issue) %>");
         var url_array = $(location).attr('href').split("/");
         var pg_url = url_array.slice(-2);
         if ( pg_url == 'supports,comments' ) {
             $.ajax({
                 url: "<%= comments_readed_path %>",
                 type: "GET",
                 data: {issue_id: <%=@issue.id%>}
             })
         }
     }
  });
<% end %>

$("#content").animate({ scrollTop: $('#comments').height()+500 }, 10);
$('#body').val('');
