$.amaran({
    'theme'     :'awesome ok',
    'content'   :{
        title:'Успех!',
        message:'Задача успешно создана!',
        info:'',
        icon:'fa fa-check-square-o'
    },
    'position'  :'bottom right',
    'outEffect' :'slideBottom'
});

$('#myIssues').html("<%= j render(:partial => '/users/my_issues', :locals => {my_issues: @my_issues}) %>")

$( '#issueForm' ).each(function(){
    this.reset();
});

<% @supports.each do |sup_id| %>
  <% publish_to "/issues/all/#{sup_id}" do %>
    $('#issues').html("<%= j render(:partial => '/supports/all_issues', :locals => {issues: @issues, response_time: @response_time}) %>")
  <% end %>
<% end %>

