<div class="wrapper">

  <%= render 'layouts/left_navbar' %>
  <!-- Page Content  -->
  <div id="content" style="overflow-y: scroll; width: 100%">

    <%= render 'layouts/navbar' %>
    <div class="container-fluid">

      <div class="row" style="margin-top: 35px; margin-left: 5px; margin-right: 5px; margin-bottom: 25px">
        <div class="col-12">
          <div class="card">

            <div class="card-header real-blue">
              <h5>Заявка №<%=@issue.id%></h5>
              <span style="color: rgba(255,255,255,.62); font-size: .875rem;">Все обновления заявки тут</span>
            </div>
            <h3 class="mb-0 mt-3"><i class="fa fa-file-o pl-2" aria-hidden="true"></i> <%=@issue.subject%></h3>
            <div class="d-inline p-2 ">Приоритет:
              <% if @issue.priority == 'Низкий'%>
                  <i class="fa fa-circle-o" style="color:#007bff"></i>
              <% elsif @issue.priority == 'Обычный'%>
                  <i class="fa fa-circle-o" style="color:#28a745"></i>
              <% elsif @issue.priority == 'Высокий'%>
                  <i class="fa fa-circle-o" style="color:#fb3"></i>
              <% elsif @issue.priority == 'Немедленный'%>
                  <i class="fa fa-circle-o" style="color:#ff3547"></i>
              <% end %>
              <%=@issue.priority%>
              <span style="padding-left: 15px">Открыта: <i class="fa fa-user-o" aria-hidden="true"></i> <%=@issue.author.username%></span>

              <span style="padding-left: 15px">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <%=l(@issue.created_at, format: "%e %b %Y")%>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <%=l(@issue.created_at, format: "%H:%M")%>
              </span>
            </div>
            <hr>
            <h6 class="p-2">Описание:</h6>

            <div class="row pl-1">
              <div class="col-6">
                <table class="table table-sm table-borderless" style=" ">
                  <tbody>
                  <tr>
                    <td class="w-30 text-secondary">Категория:</td>
                    <td class="w-70"><%=@issue.category.name%></td>
                  </tr>
                  <tr>
                    <td class="w-30 text-secondary">Тема:</td>
                    <td class="w-70"><%=@issue.subject%></td>
                  </tr>
                  <tr>
                    <td class="w-30 text-secondary">Описание:</td>
                    <td class="w-70">
                      <span id="htmlText"><%=truncate(@issue.body, length: 42)%></span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-6">
                <table id="priorityTable" class="table table-sm table-borderless" style=" ">
                  <tbody>
                  <tr>
                    <td class="w-30 text-secondary">Статус:</td>
                    <td data-priority="<%=@issue.id%>" class="w-70">
                      <% if @issue.status == 'В работе'%>
                          <span class="badge badge-upper badge-pill badge-primary"><%=@issue.status%></span>
                      <% elsif @issue.status == 'Новая' %>
                          <span class="badge badge-upper badge-pill badge-secondary"><%=@issue.status%></span>
                      <% elsif @issue.status == 'Отложена' %>
                          <span class="badge badge-upper badge-pill badge-warning"><%=@issue.status%></span>
                      <% elsif @issue.status == 'Отменена' %>
                          <span class="badge badge-upper badge-pill badge-danger"><%=@issue.status%></span>
                      <% elsif @issue.status == 'Выполнена' %>
                          <span class="badge badge-upper badge-pill badge-success"><%=@issue.status%></span>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-30 text-secondary">Открыта:</td>
                    <td class="w-70">
                      <%=@issue.open_at ? l(@issue.open_at, format: "%e %b %Y %H:%M") : '-'%>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <h6 class="p-2">Коментарии:</h6>

              <% if @issue.owner == current_user || @issue.author == current_user%>

                <div id="comments">
                  <%= render 'comments/comments', comments: @comments %>
                </div>

                <%= form_tag create_comment_path, method: :post, remote: true do %>
                  <%= text_area_tag(:body, nil, class: 'form-control', rows: 3, id:'body', style: 'resize: none;')%>
                  <%= hidden_field_tag :issue_id, @issue.id %>
                  <%= submit_tag 'Написать', :class => 'btn custom-button-blue mt-2', id: 'submitBtn' %>
                <% end %>

                <%= subscribe_to "/comments/#{@issue.id}" %>
              <% end %>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

    $(document).ready(function() {

        $.ajax({
            url: "<%= comments_readed_path %>",
            type: "GET",
            data: {issue_id: <%=@issue.id%>}
        })


/*            var el = $('#htmlText');
            str = el.text();
            html = $.parseHTML(str);
            el.html(html)*/

    });
</script>

