$.amaran({
    'theme'     :'awesome ok',
    'content'   :{
        title:'Внимание!',
        message:'Подобрал заявку',
        info:'',
        icon:'fa fa-check-square-o'
    },
    'position'  :'bottom right',
    'outEffect' :'slideBottom'
});

<% @supports.each do |sup_id| %>
  <% publish_to "/issues/all/#{sup_id}" do %>
  $('#issues').html("<%= j render(:partial => '/supports/all_issues', :locals => {issues: @issues, response_time: @response_time}) %>")
  <% end %>
<% end %>

<% @recepients.each do |re_id| %>
  <% publish_to "/notifications/#{re_id}" do %>
    $.ajax({
        url: "<%= user_notifications_path %>",
        type: "GET",
        data: {user_id: <%=re_id%>}
    }).done(function(response) {
        var data = response.notifications.msg
        data.forEach(function(element){
            $('#notifications').append(
                '<%=link_to mark_as_readed_path(current_user.id), class: 'dropdown-item' do %>'+
                  element.event+
                '<% end %>'
            )
        });

    });
  <% end %>
<% end %>

<% publish_to "/comments/count/#{current_user.id}" do %>
  $.ajax({
      url: "<%= count_unread_path %>",
      type: "GET"
  }).done(function(response) {
      /*console.log(response.comments.comments)*/
      if (response.comments.counter > 0) {
          $('#unreadCount').text(response.comments.counter);
      }else {
          $('#unreadCount').text('');
      }
  });
<% end %>

<% publish_to "/comments/#{@issue.id}" do %>
$('#priorityTable td').each(function() {
    if ($(this).data("priority")== <%=@issue.id%>) {
        $(this).html(
            '<% if @issue.status == 'В работе'%>'+
            '<span class="badge badge-upper badge-pill badge-primary"><%=@issue.status%></span>'+
            '<% elsif @issue.status == 'Новая' %>'+
            '<span class="badge badge-upper badge-pill badge-secondary"><%=@issue.status%></span>'+
            '<% elsif @issue.status == 'Отложена' %>'+
            '<span class="badge badge-upper badge-pill badge-warning"><%=@issue.status%></span>'+
            '<% elsif @issue.status == 'Отменена' %>'+
            '<span class="badge badge-upper badge-pill badge-danger"><%=@issue.status%></span>'+
            '<% elsif @issue.status == 'Выполнена' %>'+
            '<span class="badge badge-upper badge-pill badge-success"><%=@issue.status%></span>'+
            '<% end %>')
    }
});
<% end %>

<% publish_to "/users/#{@issue.id}" do %>
  $('#myIssueTable td').each(function() {

      if ($(this).data("priority")== <%=@issue.id%>) {
          $(this).html(
              '<% if @issue.status == 'В работе'%>'+
              '<span class="badge badge-upper badge-pill badge-primary"><%=@issue.status%></span>'+
              '<% elsif @issue.status == 'Новая' %>'+
              '<span class="badge badge-upper badge-pill badge-secondary"><%=@issue.status%></span>'+
              '<% elsif @issue.status == 'Отложена' %>'+
              '<span class="badge badge-upper badge-pill badge-warning"><%=@issue.status%></span>'+
              '<% elsif @issue.status == 'Отменена' %>'+
              '<span class="badge badge-upper badge-pill badge-danger"><%=@issue.status%></span>'+
              '<% elsif @issue.status == 'Выполнена' %>'+
              '<span class="badge badge-upper badge-pill badge-success"><%=@issue.status%></span>'+
          '<% end %>')
      }

  });
<% end %>
