<table class="table no-border" id="myIssueTable">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Тема</th>
    <th scope="col">Статус</th>
    <th scope="col"></th>

  </tr>
  </thead>
  <tbody id="myIssue">

  <% my_issues.each do |issue| %>
    <tr data-myIssue="<%=issue.id%>">
      <td><%=issue.id%></td>
      <td><%= link_to issue.subject, issue_path(id: issue.id), method: :get %></td>
      <td data-priority="<%=issue.id%>">
        <% if issue.status == 'В работе'%>
            <span class="badge badge-upper badge-pill badge-primary"><%=issue.status%></span>
        <% elsif issue.status == 'Новая' %>
            <span class="badge badge-upper badge-pill badge-secondary"><%=issue.status%></span>
        <% elsif issue.status == 'Отложена' %>
            <span class="badge badge-upper badge-pill badge-warning"><%=issue.status%></span>
        <% elsif issue.status == 'Отменена' %>
            <span class="badge badge-upper badge-pill badge-danger"><%=issue.status%></span>
        <% elsif issue.status == 'Выполнена' %>
            <span class="badge badge-upper badge-pill badge-success"><%=issue.status%></span>
        <% end %>
      </td>
      <td data-comments="<%=issue.id%>">
        <%= link_to issue_path(id: issue.id), style: 'position: relative', method: :get do%>
          <i class="fa fa-comments fa-lg">
                  <span class="badge badge-light" style="position: absolute; background: red;
                      top: -0.6rem; right: -0.6rem" id="unreadCount<%=issue.id%>"></span>
          </i>
        <% end %>
      </td>
    </tr>
    <%= subscribe_to "/users/#{issue.id}" %>
  <% end %>
  </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#myIssueTable').dataTable({
            "autoWidth": false,
            pagingType: 'simple_numbers',
            scrollCollapse: false,
            /*            processing: true,*/
            "responsive": false,
            "info": true,
            "ordering": true,
            "bPaginate": true,
            "bStateSave": true,
            "fnStateSave": function (oSettings, oData) {
                localStorage.setItem('offersDataTables', JSON.stringify(oData));
            },
            "fnStateLoad": function (oSettings) {
                return JSON.parse(localStorage.getItem('offersDataTables'));

            },

            "columnDefs": [{
                "targets": [3],
                "orderable": false
            }],

            "language": {
                "sProcessing": "Подождите...",
                "sLengthMenu": "Показать _MENU_ записей",
                "sZeroRecords": "Записи отсутствуют.",
                "sEmptyTable": "В таблице отсутствуют данные",
                "sInfo": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "sInfoEmpty": "Записи с 0 до 0 из 0 записей",
                "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                "sInfoPostFix": "",
                "sSearch": "",
                "sUrl": "",
                "searchPlaceholder": "Поиск...",
                "sInfoThousands": ",",
                "sLoadingRecords": "Загрузка записей...",
                "oPaginate": {
                    "sFirst": "Первая",
                    "sLast": "Последняя",
                    "sNext": "Следующая",
                    "sPrevious": "Предыдущая"
                },
                "oAria": {
                    "sSortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sSortDescending": ": активировать для сортировки столбца по убыванию"
                }
            }

        });


        $('.dataTables_wrapper .row').addClass("table-label");

        $('.dataTables_filter input').addClass('blue-form-control');


        var el = $('#myIssueTable_wrapper').children(".row:first-child");
        el.children(".col-sm-12:nth-child(1)").append("<h5 style='padding-bottom: 5px'>Мои задачи</h5>");

        $('#myIssueTable_length').addClass('d-none')



    });
</script>