<div class="wrapper">

  <%= render 'layouts/left_navbar' %>
  <!-- Page Content  -->
  <div id="content" style="overflow-y: scroll; width: 100%">

    <%= render 'layouts/navbar' %>
    <div class="container-fluid">

      <div class="row" style="margin-top: 35px; margin-left: 5px; margin-right: 5px">
        <div class="col-12">
          <div class="card">

            <div class="card-header real-blue">
              <h5>Пользователи</h5>
            </div>

            <%@users.each do |user| %>
                <p><%=user.username%></p>
            <% end %>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

