<div class="wrapper">

  <%= render 'layouts/left_navbar' %>
  <!-- Page Content  -->
  <div id="content" style="overflow-y: scroll; width: 100%">

    <%= render 'layouts/navbar' %>
    <div class="container-fluid">

      <div class="row" style="margin-top: 45px; margin-left: 5px; margin-right: 5px">
        <div class="col-7">
          <div class="card">

            <div class="card-header real-blue">
              <h5>Создать задачу</h5>
              <span style="color: rgba(255,255,255,.62); font-size: .875rem;">Выберите что у вас случилось и при необходимости напишите доп инфу</span>
            </div>


            <i class="fa fa-paperclip fa-2x" style="position: absolute; top: 10px; right: 10px"></i>

            <%= form_tag create_issue_path, method: :post, remote: true, id: 'issueForm' do %>
                <br>
                <label for="rate">Категория:</label>
                <select id="tarif" name="category_id" style="width: 100%">
                  <% @categories.each do |cs| %>
                      <option value="<%=cs.id%>"><%=cs.name%></option>
                  <% end %>
                </select>
                <br><br>
                <%= label_tag :subject, 'Тема' %>
                <%= text_field_tag :subject, nil, class: 'form-control form-control-sm',
                                   style: 'border: 1px solid #a9a9a9' %>
                <br>
                <% if false %>
                    <div class="dropzone" id="media-dropzone">
                      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                      <div class="dz-message" data-dz-message>
                        <span>Перетащите файлы сюда для загрузки или </span>
                        <div class="btn dropzone-button">Выбрать файлы</div>
                      </div>
                      <div class="fallback">
                        <%= file_field_tag "icon", multiple: true%>
                      </div>
                    </div>
                <% end %>

                <br>
                <%= label_tag :body, 'Описание' %>
                <%= text_area_tag :body, nil, class: 'form-control', id: 'summernote', style: 'height: 20vh' %>
                <br>
                <%= submit_tag 'Создать', :class => 'btn btn-block custom-button-blue', id: 'issueSubmit' %>

            <% end %>

          </div>
        </div>

        <div class="col-5">
          <div class="card">

            <div id="myIssues">
              <%= render 'users/my_issues', my_issues: @my_issues%>
            </div>
          </div>
        </div>

      </div>

    </div>
    <footer id="sticky-footer" class="py-4 bg-light text-dark-50" style="background: transparent !important;">
      <div class="container text-center">
        <h6 class="float-right" style="padding-bottom: 10px">2019 © ГП "Почта Донбасса".</h6>
      </div>
    </footer>
  </div>
</div>

<script>
    $( "#tarif" ).select2({
        language: "ru-RU"

    });

    <% if false %>
    Dropzone.autoDiscover = false;
    $("div#media-dropzone").dropzone({
        url: "<%=create_issue_path%>",
        autoProcessQueue: false,
        init: function () {

            var myDropzone = this;

            // Update selector to match your button
            $("#issueSubmit").click(function (e) {
                myDropzone.processQueue();
            });

            this.on('issueSubmit', function(file, xhr, formData) {
                // Append all form inputs to the formData Dropzone will POST
                var data = $('#frmTarget').serializeArray();
                $.each(data, function(key, el) {
                    formData.append(el.name, el.value);
                });
            });
        }
    });
    <% end %>

    $('#sidebar').addClass('active');

    /*    $('#summernote').summernote({
            lang: 'ru-RU'
        });*/

    $(function() {
        $("#media-dropzone").dropzone({
            acceptedFiles: 'image/*',
            maxFiles: 1
        });
        /*        return mediaDropzone.on("success", function(file, responseText) {
                    var imageUrl;
                    imageUrl = responseText.file_name.url;
                });*/
    });

</script>
