<div class="wrapper">

  <%= render 'layouts/navbar', issues: @issues%>
  <!-- Page Content  -->
  <div id="content" style="overflow-y: scroll; width: 100%">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: transparent !important;">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-toggle">
          <i id="toggleIcon" class="fa fa-ellipsis-v"></i>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="nav navbar-nav" style="margin-left: 50px">
            <li class="nav-item">
              <a class="nav-link bread" href="#">Домой</a>
            </li>
          </ul>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
              <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link') %>
            </li>
            <li class="nav-item">

            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">

      <div class="row" style="margin-top: 35px; margin-left: 5px; margin-right: 5px">
        <div class="col-8">
          <div class="card" style="border-top: 0; margin-top: 50px">


              <div class="card-icon-container real-blue text-center" style="margin-top: -40px">
                <i class="fa fa-user card-icon" style="margin-top: 20px"></i>
              </div>
              <h4 style="position: absolute; top:15px; left: 110px">Профиль юзера</h4>

              <%= form_tag update_user_path, class: "dropzone", id: "media-dropzone" do %>
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                  <div class="fallback">
                    <%= file_field_tag :avatar, multiple: true %> %>
                  </div>
              <% end %>

          </div>
        </div>
        <div class="col-4">
          <div class="card" style="border-top: 0; margin-top: 50px">
            <div class="card-avatar">
              <img src="<%=current_user.avatar.url %>" height="42" width="42">
            </div>
            <h6 style="margin-top: 35px">Должность, кабинет и другая инфа </h6>

          </div>
        </div>
      </div>


    </div>

  </div>

</div>