<div class="login-page-admin" style="overflow: hidden">
  <!--  <nav class="navbar navbar-light bg-light" style="background: transparent">
      <a class="navbar-brand" href="#">Navbar</a>
    </nav>-->

  <h1 class="text-center" style="margin-top: 100px; color: white; font-size: 56px">Post Service Desk</h1>

  <h4 class="text-center" style="margin-top: 20px; color: white">Войти в аккаунт</h4>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="text-center col-sm-4 col-sm-offset-4 devise-container"
           style="background:white; min-width: 250px; max-width: 280px; margin-top: -300px">
        <br>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="form-group text-left" style="color: black">
              <%= f.label :username, 'Логин:'%>
              <%= f.text_field :username, required: true, class: 'form-control' %>
            </div>

            <div class="form-group text-left" style="color: black">
              <%= f.label :password, 'Пароль:'%>
              <%= f.password_field :password, autocomplete: "off", required: true, class: 'form-control' %>
            </div>
            <br>

            <% if false%>
                <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                <% end -%>
            <% end %>

            <div class="actions">
              <%= f.submit "Войти", class: "btn btn-block btn-login" %>
            </div>
            <br>
        <% end %>
        <% if false%>
            <%= render "devise/shared/links" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
