
<table class="table no-border" id="issueTable">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Создал</th>
    <th scope="col">Тема</th>
    <th scope="col">Категория</th>
    <th scope="col">Описание</th>
    <th scope="col">Cоздана</th>
    <th scope="col"></th>


  </tr>
  </thead>
  <tbody id="issueAll">

  <% issues.each do |issue| %>

        <% unless issue.owner %>

          <tr data-id="<%=issue.id%>" class="table-colors">
            <td><%=link_to issue.id, issue_path(id: issue.id), method: :get%></td>
            <td><%=issue.author.username %></td>
            <td><%= link_to truncate(issue.subject, length: 32), issue_path(id: issue.id), method: :get %></td>
            <td><%=issue.category.name if issue.category%></td>
            <td><%=issue.body && issue.body.size > 0 ? truncate(issue.body, length: 32) : 'Нету'%></td>
            <td><%= l(issue.created_at, format: "%e %b %Y %H:%M")%></td>
            <td>
              <%= link_to to_work_path(id: issue.id), remote: :true, class: 'btn btn-sm custom-button-blue' do %>
                  В работу
              <% end %>
            </td>
          </tr>
      <% end %>

  <% end %>
  </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#issueTable').dataTable({
            "autoWidth": false,
            pagingType: 'simple_numbers',
            scrollCollapse: false,
            /*            processing: true,*/
            "responsive": false,
            "info": true,
            "ordering": true,
            "bPaginate": true,
            "bStateSave": true,
            "fnStateSave": function (oSettings, oData) {
                localStorage.setItem('offersDataTables', JSON.stringify(oData));
            },
            "fnStateLoad": function (oSettings) {
                return JSON.parse(localStorage.getItem('offersDataTables'));

            },

            "columnDefs": [{
                "targets": [6],
                "orderable": false
            }],

            "language": {
                "sProcessing": "Подождите...",
                "sLengthMenu": "Показать _MENU_ записей",
                "sZeroRecords": "Записи отсутствуют.",
                "sEmptyTable": "В таблице отсутствуют данные",
                "sInfo": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "sInfoEmpty": "Записи с 0 до 0 из 0 записей",
                "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                "sInfoPostFix": "",
                "sSearch": "",
                "sUrl": "",
                "searchPlaceholder": "Поиск...",
                "sInfoThousands": ",",
                "sLoadingRecords": "Загрузка записей...",
                "oPaginate": {
                    "sFirst": "Первая",
                    "sLast": "Последняя",
                    "sNext": "Следующая",
                    "sPrevious": "Предыдущая"
                },
                "oAria": {
                    "sSortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sSortDescending": ": активировать для сортировки столбца по убыванию"
                }
            }

        });


        $('.row').addClass("table-label");
        $('.dataTables_filter input').addClass('blue-form-control');

/*        $('.bodyText').each(function () {
            str = $(this).text()
            html = $.parseHTML(str)
            $(this).html(html)
        });*/

/*        $('#issueTable').on( 'page.dt', function () {
            $('.bodyText').each(function () {
                str = $(this).text()
                html = $.parseHTML(str)
                $(this).html(html)
            })
        } );*/

        <% issues.each do |issue| %>

        <% if issue.created_at < response_time.minute.ago%>
        setInterval(function(){
            $('tr[data-id="<%=issue.id%>"]').toggleClass('table-orange');
        }, 3000);

        <% end %>


        <% end %>

    });
</script>