<div class="row">
    <div class="col-3">
      <div id="issuesLastComment">
        <%= render 'supports/comments_issues_list', issues: @issues %>
      </div>
    </div>
    <div class="col-7">
      <div id="showComment">

      </div>
    </div>

    <div class="col-2">
      <div id="showUser">

      </div>
    </div>

</div>


