<div id="commentsIssuesList">
<% issues.order('updated_at  DESC').try(:each) do |issue| %>
      <% if issue.comments.any? %>
    <a data-id="<%=issue.id%>" href="URL" class="commentsUrl">

      <div class="row no-gutters" style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 0.5rem">

        <div class="col-auto">
          <img src="<%=issue.author.avatar.url%>" class="img-fluid" width="42" height="42">
        </div>
        <div class="col">
          <div class="pl-2">
            <sup class="float-right pr-2 mt-3">
              <%=(time_ago_in_words(issue.comments.last.created_at)).gsub('около', '') + ' назад'%>
            </sup>
            <h6 class="card-title mb-0"><%=issue.author.username%></h6>
            <p class="card-text"><%=issue.subject%></p>
          </div>
        </div>
      </div>
      <p style="margin-left: 28px; border-left: 2px solid red"><%=issue.comments.last.body if issue.comments.any?%></p>
    </a>
      <%= subscribe_to "/issuesComments/#{issue.id}" %>
          <% end %>
<% end %>
</div>

<script>


    $(document).on('click', '.commentsUrl', function(e) {
            e.preventDefault();
            $.ajax({
                url: "<%= supports_show_comment_path %>",
                type: "GET",
                data: {issue_id: $(this).data("id")}
            });
            $.ajax({
                url: "<%= comments_readed_path %>",
                type: "GET",
                data: {issue_id: $(this).data("id")}
            })
        });

</script>