<div class="row" style="margin-top: 35px; margin-left: 5px; margin-right: 5px;">

  <div class="col-8">
    <div class="row">
      <div class="col-4 droptrue" id="В работе">
        <h5 class="nodrag">В работе:</h5>
        <%issues_in_work(issues).each do |issue| %>

            <a data-priority="<%=issue.priority%>" data-id="<%=issue.id%>" href="URL" class="card cardUrl" style="border-top: 0;margin-top: 10px">
              <div class="span4">
                <img class="img-right" src="<%=issue.author.avatar.url%>" height="34" width="34"/>
                <p class="mb-0 pb-0">Задача#<%=issue.id%></p>
                <p><%=l(issue.created_at, format: "%e %b %Y %H:%M")%></p>
              </div>
              <div class="mx-auto">
                <div id="circle<%=issue.id%>">
                  <div class="ggt" id="timer<%=issue.id%>">
                    00:00:00
                  </div>
                </div>
              </div>
              <p class="mb-0 pb-0"><%=issue.category.name%></p>
              <span style="padding-top: 5px"><%=issue.subject%></span>
            </a>

            <script>
                var timer<%=issue.id%> = new easytimer.Timer();
                timer<%=issue.id%>.start({startValues: {seconds: <%=((Time.now - issue.open_at)-check_delayed(issue)).round%>}});
                $(timer<%=issue.id%>).on('secondsUpdated', function(e) {
                    $('#timer<%=issue.id%>').html(timer<%=issue.id%>.getTimeValues().toString());

                });


                console.log('delayed')
                console.log(<%=check_delayed(issue)%>)
                console.log('-------')


                var timeInMs = <%=Time.now.to_f * 1000%>;
                var open_at = <%=issue.open_at.to_f * 1000%>;
                var minutes = timeInMs - open_at;
                var pt = <%=issue.category.permissible_time * 60000%>;
                var res = minutes / pt ;
                localStorage.setItem('res<%=issue.id%>', res);

                /*изменить 5 чтобы уменьшить процент на котором обращается в контроллер*/
                var step = (3 / 100) * pt;

                var circle<%=issue.id%> = $('#circle<%=issue.id%>').circleProgress({
                    value: res,
                    size: 115,
                    /*fill: { gradient: ["red", "orange"]}*/
                    fill: { gradient: res < 0.85 ? ["#28afd0", "#5ed84f"] : ["red", "orange"]}
                }).on('circle-animation-start', function(event, progress) {
                    $(this).find('.ggt').html($('#timer<%=issue.id%>'));
                });

                console.log(res)

                setInterval(function(){
                    $.ajax({
                        url: "<%= find_issue_path %>",
                        type: "GET",
                        data: {id: <%=issue.id%>}
                    }).done(function(response) {

                        var timeInMs = Date.now();
                        var minutes = timeInMs - response.issue.open_at;
                        var res = minutes / (response.issue.pt * 60000) ;
                        localStorage.setItem('res<%=issue.id%>', res);
                        circle<%=issue.id%>.circleProgress('value', res);
                    });
                }, step);
            </script>
        <% end %>
      </div>

      <div class="col-4 droptrue" id="Отложена">
        <h5 class="nodrag">Отложены:</h5>
        <%issues_in_later(issues).each do |issue| %>

            <a data-priority="<%=issue.priority%>" data-id="<%=issue.id%>" href="URL" class="card cardUrl" style="border-top: 0; margin-top: 10px">
              <div class="span4">
                <img class="img-right" src="<%=issue.owner.avatar.url%>" height="34" width="34"/>
                <p class="mb-0 pb-0">Задача#<%=issue.id%></p>
                <p><%=issue.subject%></p>
              </div>
              <div class="mx-auto">
                <div id="circle<%=issue.id%>">
                  <div class="ggt">
                    <%= Time.at((Time.now - issue.open_at).round).utc.strftime("%H:%M:%S")%>
                  </div>
                </div>
              </div>
              <span style="padding-top: 5px"><%=issue.category.name%></span>
            </a>
            <script>

                var res = localStorage.getItem('res<%=issue.id%>');
                var circle<%=issue.id%> = $('#circle<%=issue.id%>').circleProgress({
                    value: res,
                    size: 115,
                    /*fill: { gradient: ["red", "orange"]}*/
                    fill: { gradient: res < 0.85 ? ["#28afd0", "#5ed84f"] : ["red", "orange"]}
                }).on('circle-animation-start', function(event, progress) {
                    $(this).find('.ggt').html('<%= Time.at((Time.now - issue.open_at).round).utc.strftime("%H:%M:%S")%>');
                });

            </script>

        <% end %>
      </div>

      <div class="col-4 droptrue cancel" id="Выполнена">
        <h5 class="nodrag">Выполнены:</h5>
        <%issues_in_done(issues).each do |issue| %>

            <a data-priority="<%=issue.priority%>" data-id="<%=issue.id%>" href="URL"
               class="card cardUrl nodrag" style="border-top: 0; margin-top: 10px">
              <div class="span4">
                <img class="img-right" src="<%=issue.owner.avatar.url%>" height="34" width="34"/>
                <p class="mb-0 pb-0">Задача#<%=issue.id%></p>
                <p><%=issue.subject%></p>
              </div>
              <div id="result<%=issue.id%>">

              </div>
              <span style="padding-top: 5px"><%=issue.category.name%></span>
            </a>
            <script>

                var timeInMs = <%=get_work_time(issue).to_f * 1000%>;
                var open_at = <%=get_done_time(issue).to_f * 1000%>;
                var minutes =  open_at - timeInMs ;
                var pt = <%=issue.category.permissible_time * 60000%>;

              if ( minutes <= pt ){
                  $('#result<%=issue.id%>').html('<div class="text-center">\n' +
                      '                  <span class="fa-stack fa-2x">\n' +
                      '                    <i class="fa fa-circle fa-stack-2x" style="color: #28a745"></i>\n' +
                      '                    <i class="fa fa-check fa-stack-1x fa-inverse" style="color: #ffffff"></i>\n' +
                      '                  </span>\n' +
                      '                  <p style="text-transform: uppercase; color: #28a745; font-weight: bold"> вовремя</p>\n' +
                      '                </div>')
              } else {
                  $('#result<%=issue.id%>').html('<div class="text-center">\n' +
                      '                <span class="fa-stack fa-2x">\n' +
                      '                   <i class="fa fa-circle fa-stack-2x" style="color: #ff3547"></i>\n' +
                      '                   <i class="fa fa-check fa-stack-1x fa-inverse" style="color: #ffffff"></i>\n' +
                      '                </span>\n' +
                      '                <p style="text-transform: uppercase; color: #ff3547; font-weight: bold">\n' +
                      '                    с опозданием\n' +
                      '                </p>\n' +
                      '              </div>')
              }
            </script>
        <% end %>
      </div>

      <%if false%>
          <div class="col-2 droptrue" id="Отменена" >
            <h5>Отмененные:</h5>
            <%issues_in_cancel(issues).each do |issue| %>

                <a data-priority="<%=issue.priority%>" data-id="<%=issue.id%>" href="URL" class="card cardUrl" style="border-top: 0; margin-top: 10px">
                  <div class="span4">
                    <img class="img-right" src="<%=issue.owner.avatar.url%>" height="34" width="34"/>
                    <p class="mb-0 pb-0">Задача#<%=issue.id%></p>
                    <p><%=issue.subject%></p>
                  </div>
                  <div class="mx-auto">
                    <span style="font-size: 2.28rem">50:53</span>
                  </div>
                  <span style="padding-top: 5px"><%=issue.category.name%></span>
                </a>


            <% end %>
          </div>
      <% end %>
    </div>
  </div>

  <div class="col-4">
    <div class="card card-image-empty" style="border-top: 0; height: 79.7vh; position: -webkit-sticky;
        position: sticky;
        top: 6.10rem;">

      <div class="card-header real-blue">
        <h5>Панель управления</h5>
        <span style="color: rgba(255,255,255,.62); font-size: .875rem;">Выберите заявку для отображения</span>
      </div>

      <div id="showPanel" style="overflow-y: auto; overflow-x: hidden">

        <h4 class="text-center" style="margin-top: 30vh">выберите задачу</h4>

      </div>
    </div>
  </div>
</div>

<script>

    $( function() {
        $( "div.droptrue" ).sortable({
            connectWith: "div.droptrue",
            cancel:'.nodrag',
            scroll: false,
            /*placeholder: "highlight",*/
            start: function (event, ui) {
                ui.placeholder.height(ui.item.height());
                ui.placeholder.css('visibility', 'visible');
            },
            stop: function (event, ui) {
               /* console.log(ui.item.parent().attr('id'))*/
                if ($(this).attr('id') != ui.item.parent().attr('id')) {

                    $.ajax({
                        url: "<%= supports_update_issue_status_path %>",
                        type: "GET",
                        data: {issue_id: ui.item.data('id'), status: ui.item.parent().attr('id')}
                    })
                }


            }
        }).disableSelection();
    } );

    $(".cardUrl").each(function() {
         if ($(this).data('priority') == 'Низкий'){
            $(this).css('border-left', '4px solid #007bff')
         }else if ($(this).data('priority') == 'Обычный'){
             $(this).css('border-left', '4px solid #28a745')
         }else if ($(this).data('priority') == 'Высокий'){
             $(this).css('border-left', '4px solid #fb3')
         }else if ($(this).data('priority') == 'Немедленный'){
             $(this).css('border-left', '4px solid #ff3547')
         }
        $(this).on('click', function(e) {
            e.preventDefault();
            $.ajax({
                url: "<%= supports_show_panel_path %>",
                type: "GET",
                data: {issue_id: $(this).data("id")}
            })
        });
    });
</script>