<br>
<span style="font-size: 14px; padding-left: 5px;"><b>Описание:</b></span>

<table class="table table-sm table-borderless" style="margin-top: 3px">
  <tbody>
  <tr>
    <td class="w-25 text-secondary">Номер:</td>
    <td class="w-75"><%=issue.id%></td>
  </tr>
  <tr>
    <td class="text-secondary">Тема:</td>
    <td><%=issue.subject%></td>
  </tr>
  <tr>
    <td class="text-secondary">Категория:</td>
    <td><%=issue.category.name%></td>
  </tr>
  <tr>
    <td class="text-secondary">Описание:</td>
    <td class="bodyText">

      <% if issue.body %>
          <%=issue.body%>
      <% else %>
          Нету
      <% end %>

    </td>
  </tr>
  <tr>
    <td class="text-secondary">Статус:</td>
    <td>

      <% if issue.status == 'В работе'%>
          <span class="badge badge-upper badge-pill badge-primary"><%=issue.status%></span>
      <% elsif issue.status == 'Отложена' %>
          <span class="badge badge-upper badge-pill badge-warning"><%=issue.status%></span>
      <% elsif issue.status == 'Отменена' %>
          <span class="badge badge-upper badge-pill badge-danger"><%=issue.status%></span>
      <% elsif issue.status == 'Выполнена' %>
          <span class="badge badge-upper badge-pill badge-success"><%=issue.status%></span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="text-secondary">Приоритет:</td>
    <td>
      <select id="priority" name="category" style="width:80%">
        <option></option>
        <option value="Низкий">Низкий</option>
        <option value="Обычный">Обычный</option>
        <option value="Высокий">Высокий</option>
        <option value="Немедленный">Немедленный</option>
      </select>
    </td>
  </tr>
  <tr>
    <td class="text-secondary">Тип заявки:</td>
    <td>
      <select id="classification" name="category" style="width:80%">
        <option></option>
        <option value="Запрос на обслуживание">Запрос на обслуживание</option>
        <option value="Инцидент">Инцидент</option>
        <option value="Проблема">Проблема</option>
        <option value="Ремонтно-профилактические работы">Ремонтно-профилактические работы</option>
        <option value="Консультация">Консультация</option>
      </select>
    </td>
  </tr>
  </tbody>
</table>

<span style="font-size: 14px; padding-left: 5px"><b>Люди:</b></span>

<table class="table table-sm table-borderless" style="margin-top: 3px">
  <tbody>
  <tr>
    <td class="w-25 text-secondary">Создал:</td>
    <td class="w-75"><%=issue.author%></td>
  </tr>
  <tr>
    <td class="text-secondary">Владелец:</td>
    <td><%=issue.owner%></td>
  </tr>
  </tbody>
</table>

<span style="font-size: 14px; padding-left: 5px"><b>Время:</b></span>

<table class="table table-sm table-borderless" style="margin-top: 3px">
  <tbody>
  <tr>
    <td class="w-25 text-secondary">Создана:</td>
    <td class="w-75"><%=l(issue.created_at, format: "%e %b %Y %H:%M")%></td>
  </tr>
  <tr>
    <td class="text-secondary">Взята:</td>
    <td><%=l(issue.open_at, format: "%e %b %Y %H:%M")%></td>
  </tr>
  </tbody>
</table>


    <% if issue.status == 'В работе' %>


      <%= link_to to_later_path(id: issue.id), remote: :true, class: 'btn btn-sm custom-button-yellow' do %>
          Отложить
      <% end %>

      <%= link_to to_close_path(id: issue.id), remote: :true, class: 'btn btn-sm custom-button-green' do %>
          Выполнена
      <% end %>

      <%= link_to to_cancel_path(id: issue.id), remote: :true, class: 'btn btn-sm custom-button-red' do %>
          Отказ
      <% end %>



    <% elsif issue.status == 'Отложена' %>

        <%= link_to to_work_path(id: issue.id), remote: :true, class: 'btn btn-sm custom-button-blue' do %>
            В работу
        <% end %>

        <%= link_to to_close_path(id: issue.id), remote: :true, class: 'btn btn-sm custom-button-green' do %>
            Выполнена
        <% end %>
        <%= link_to to_cancel_path(id: issue.id), remote: :true, class: 'btn btn-sm custom-button-red' do %>
            Отказ
        <% end %>

    <% end %>





<script>

    var priority = $( "#priority" );
    var classification = $( "#classification" );

    priority.select2({
        language: "ru-RU",
        minimumResultsForSearch: -1,
        placeholder: "<%=issue.priority%>",
        allowClear: true

    });

    priority.on('select2:select', function (e) {
        var data = e.params.data;
        $.ajax({
            url: "<%= supports_update_issue_priority_path %>",
            type: "GET",
            data: {issue_id: <%=issue.id%>, priority: data.text}
        })
    });

    classification.select2({
        language: "ru-RU",
        minimumResultsForSearch: -1,
        placeholder: "<%=issue.classification ? issue.classification : 'Нету'%>",
        allowClear: true

    });

    classification.on('select2:select', function (e) {
        var data = e.params.data;
        $.ajax({
            url: "<%= supports_update_issue_classification_path %>",
            type: "GET",
            data: {issue_id: <%=issue.id%>, classification: data.text}
        })
    });

    $('.bodyText').each(function () {
        str = $(this).text();
        html = $.parseHTML(str);
        $(this).html(html)
    })
</script>