<div style="background: grey; height: 48vh; overflow-y: auto" id="alwaysBottom">
  <div id="comments">
    <%= render 'comments/comments', comments: issue.comments %>
  </div>
</div>
<div style="height: 10vh">


  <%= form_tag create_comment_path, method: :post, remote: true do %>
      <%= text_area_tag(:body, nil, class: 'form-control', rows: 3, id:'body', style: 'resize: none;')%>
      <%= hidden_field_tag :issue_id, issue.id %>
      <%= submit_tag 'Написать', :class => 'btn custom-button-blue mt-2', id: 'submitBtn' %>
  <% end %>

  <%= subscribe_to "/comments/#{issue.id}" %>
</div>
