<div class="wrapper">

  <%= render 'layouts/left_navbar' %>
  <!-- Page Content  -->
  <div id="content" style="overflow-y: scroll; width: 100%">

    <%= render 'layouts/navbar' %>
    <div class="container-fluid">

      <div class="row" style="margin-top: 35px; margin-left: 5px; margin-right: 5px; margin-bottom: 25px">
        <div class="col-12">
          <div class="card" style="height: 78vh">

            <div class="card-header real-blue">
              <h5>Коменты</h5>
            </div>

            <%= render 'supports/comments_tables'%>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


