<div class="wrapper">

  <%= render 'layouts/left_navbar', issues: @issues%>
  <!-- Page Content  -->
  <div id="content" style="overflow-y: scroll; width: 100%;">
    <%= render 'layouts/navbar' %>

    <div class="container-fluid" >

      <% if false %>
          <h6 style="margin-top: 20px">У вас <%=current_user.owned_issues.count%> заявок</h6>
      <% end %>

      <div class="row" style="display: none"></div>

            <div class="row row-eq-height" style="margin-top: 35px; margin-left: 5px; margin-right: 5px;
                background: transparent;
                box-shadow: none">
              <div class="col-3 col-xs-6">
                <div class="card" style="border-top: 0; width: 100%; height: 100%">
                  <div class="card-icon-container green text-center">
                    <i class="fa fa-check card-icon" style="margin-top: 20px"></i>
                  </div>
                  <span class="ml-auto" style="margin-top: -50px; color: #999;">Выполнено</span>
                  <h3 class="ml-auto">44</h3>
                  <hr>
                  <p class="text-center" style="color: #999; font-size: 12px;">
                    За месяц <b style="color:green">43%</b><i class="fa fa-arrow-up" style="color:green"></i>
                  </p>
                </div>
              </div>
              <div class="col-3">
                <div class="card" style="border-top: 0; width: 100%; height: 100%">
                  <div class="card-icon-container blue text-center">
                    <i class="fa fa-cogs card-icon" style="margin-top: 20px"></i>
                  </div>
                  <span class="ml-auto" style="margin-top: -50px; color: #999;">В работе</span>
                  <h3 class="ml-auto">76</h3>
                  <hr>
                  <p class="text-center" style="color: #999; font-size: 12px;">
                    За месяц <b style="color:red">33%</b><i class="fa fa-arrow-down" style="color:red"></i>
                  </p>
                </div>
              </div>
              <div class="col-3">
                <div class="card" style="border-top: 0; width: 100%; height: 100%">
                  <div class="card-icon-container orange text-center">
                    <i class="fa fa-clock-o card-icon" style="margin-top: 20px"></i>
                  </div>
                  <span class="ml-auto" style="margin-top: -50px; color: #999;">Отложено</span>
                  <h3 class="ml-auto">50</h3>
                  <hr>
                  <p class="text-center" style="color: #999; font-size: 12px;">
                    За месяц <b style="color:green">39%</b><i class="fa fa-arrow-up" style="color:green"></i>
                  </p>
                </div>
              </div>
              <div class="col-3">
                <div class="card" style="border-top: 0; width: 100%; height: 100%">
                  <div class="card-icon-container red text-center">
                    <i class="fa fa-times card-icon" style="margin-top: 20px"></i>
                  </div>
                  <span class="ml-auto" style="margin-top: -50px; color: #999;">Отменено</span>
                  <h3 class="ml-auto">12</h3>
                  <hr>
                  <p class="text-center" style="color: #999; font-size: 12px;">
                    За месяц <b style="color:green">73%</b><i class="fa fa-arrow-up" style="color:green"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 25px; margin-left: 5px; margin-right: 5px;">
              <div class="col-6">
                <div class="card" style="border-top: 0; width: 100%; height: 100%">
                  <canvas id="myChart" height="250"></canvas>
                </div>
              </div>

              <div class="col-6">
                <div class="card" style="border-top: 0; width: 100%; height: 100%">
                  <canvas id="line-chart" height="250"></canvas>
                </div>
              </div>

              <div class="col-12">

              </div>

            </div>

    </div>

  </div>

</div>

<script>


    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Отменено', 'В работе', 'Выполнено', 'Отложено'],
            datasets: [{
                label: '# of Votes',
                data: [12, 76, 44, 50],
                backgroundColor: [
                    '#ef5350',
                    '#26c6da',
                    '#66bb6a',

                    '#ffa726'
                ],
                borderColor: [
                    '#ef5350',
                    '#26c6da',
                    '#66bb6a',

                    '#ffa726'
                ],
                borderWidth: 1
            }]
        },
        options: {
        }
    });

    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
            datasets: [{
                data: [86,114,106,106,107,111,133,221,783,2478],
                label: "В работе",
                backgroundColor: "#26c6da",
                borderColor: "#26c6da",
                fill: false
            }, {
                data: [282,350,411,502,635,809,947,1402,3700,5267],
                label: "Отменено",
                backgroundColor: "#ef5350",
                borderColor: "#ef5350",
                fill: false
            }, {
                data: [168,170,178,190,203,276,408,547,675,734],
                label: "Выполнено",
                backgroundColor: "#66bb6a",
                borderColor: "#66bb6a",
                fill: false
            }, {
                data: [40,20,10,16,24,38,74,167,508,784],
                label: "Отложено",
                backgroundColor: "#ffa726",
                borderColor: "#ffa726",
                fill: false
            }
            ],
        },
        options: {
        }
    });

</script>