<div class="wrapper">

  <%= render 'layouts/left_navbar', issues: @issues%>
  <!-- Page Content  -->
  <div id="content" style="overflow-y: scroll; width: 100%;">
    <%= render 'layouts/navbar' %>

    <div class="container-fluid" >

      <% if false %>
      <h6 style="margin-top: 20px">У вас <%=current_user.owned_issues.count%> заявок</h6>
      <% end %>

      <div class="row" style="display: none"></div>

      <div class="row" style="margin-top: 0; margin-left: 5px; margin-right: 5px;">
        <div class="col-12">
          <div class="card" style="border-top: 0; margin-top: 50px; height: 76vh">
            <div id="issues" style="max-width: 100%">
              <%= render 'supports/all_issues', issues: @issues, response_time: @response_time %>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<script>
    $('#sidebar').addClass('active');
</script>
<%= subscribe_to "/issues/all/#{current_user.id}" %>