<div class="wrapper">

  <%= render 'layouts/left_navbar', issues: @issues%>
  <!-- Page Content  -->
  <div id="content" style="overflow-y: scroll; width: 100%; padding-bottom: 20px;">
    <%= render 'layouts/navbar' %>

    <div class="container-fluid" >
      <div id="issuesList">
        <%= render 'supports/issues_list', issues: @issues%>
      </div>
    </div>

  </div>

</div>

<script>
    $('#sidebar').addClass('active');

</script>