$('#showComment').html("<%= j render(:partial => '/supports/show_comment', :locals => {issue: @issue}) %>")
$('#showUser').html("<%= j render(:partial => '/supports/show_user', :locals => {issue: @issue}) %>")

