$.amaran({
    'theme'     :'awesome ok',
    'content'   :{
        title:'Внимание!',
        message:'Заявка<%=@issue.id%> обновлена',
        info:'',
        icon:'fa fa-check-square-o'
    },
    'position'  :'bottom right',
    'outEffect' :'slideBottom'
});

$('#issuesList').html("<%= j render(:partial => '/supports/issues_list', :locals => {issues: @issues}) %>")
$('#showPanel').html("<%= j render(:partial => '/supports/show_panel', :locals => {issue: @issue}) %>")