$.amaran({
    'theme'     :'awesome ok',
    'content'   :{
        title:'Внимание!',
        message:'Заявка<%=@issue.id%> обновлена',
        info:'',
        icon:'fa fa-check-square-o'
    },
    'position'  :'bottom right',
    'outEffect' :'slideBottom'
});

$('#issuesList').html("<%= j render(:partial => '/supports/issues_list', :locals => {issues: @issues}) %>")

<% publish_to "/users/#{@issue.id}" do %>
  $('#myIssueTable td').each(function() {

      if ($(this).data("priority")== <%=@issue.id%>) {
          $(this).html(
              '<% if @issue.status == 'В работе'%>'+
              '<span class="badge badge-upper badge-pill badge-primary"><%=@issue.status%></span>'+
              '<% elsif @issue.status == 'Новая' %>'+
              '<span class="badge badge-upper badge-pill badge-secondary"><%=@issue.status%></span>'+
              '<% elsif @issue.status == 'Отложена' %>'+
              '<span class="badge badge-upper badge-pill badge-warning"><%=@issue.status%></span>'+
              '<% elsif @issue.status == 'Отменена' %>'+
              '<span class="badge badge-upper badge-pill badge-danger"><%=@issue.status%></span>'+
              '<% elsif @issue.status == 'Выполнена' %>'+
              '<span class="badge badge-upper badge-pill badge-success"><%=@issue.status%></span>'+
              '<% end %>')
      }

  });
<% end %>

<% publish_to "/comments/#{@issue.id}" do %>
$('#priorityTable td').each(function() {
    if ($(this).data("priority")== <%=@issue.id%>) {
        $(this).html(
            '<% if @issue.status == 'В работе'%>'+
            '<span class="badge badge-upper badge-pill badge-primary"><%=@issue.status%></span>'+
            '<% elsif @issue.status == 'Новая' %>'+
            '<span class="badge badge-upper badge-pill badge-secondary"><%=@issue.status%></span>'+
            '<% elsif @issue.status == 'Отложена' %>'+
            '<span class="badge badge-upper badge-pill badge-warning"><%=@issue.status%></span>'+
            '<% elsif @issue.status == 'Отменена' %>'+
            '<span class="badge badge-upper badge-pill badge-danger"><%=@issue.status%></span>'+
            '<% elsif @issue.status == 'Выполнена' %>'+
            '<span class="badge badge-upper badge-pill badge-success"><%=@issue.status%></span>'+
            '<% end %>')
    }
});
<% end %>