/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 **= require_tree .
 **= require_self
  *= require select2.min
  *= require jquery-ui
  *= require dropzone/dropzone
  *= require bootstrap-clockpicker.min
 */
@import "bootstrap";
@import "material_icons";
@import "font-awesome";
@import "jquery.mCustomScrollbar";
@import "Chart.min";
@import "datatables.min";
@import "animate.min";
@import "amaran.min";
/*@import "summernote-bs4";*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins');

/*fix for google chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

body {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.5em;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;

  //новые стили
}
::-moz-focus-inner {border:0;}

*:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.logo {
  color: #ffffff;
  font-family: "Poppins script=all rev=1", "Adobe Blank";
  font-weight: bold;
}

.toast {
  opacity: 1 !important;
  border: 0 !important;
}

.amaran.awesome {
  background: #ffffff;
  margin-right: 23px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.note-editable { height: 40vh;}


.wrapper {
  display: flex;
  align-items: stretch;
  background: #eeeeee;

  // Новая тема

  //background: #fff;


  /*sdelal ne scrollable*/
  overflow: hidden;
  height: 100vh;
  backface-visibility: hidden;
  will-change: overflow;

  a[data-toggle="collapse"] {
    position: relative;
  }

  a[aria-expanded="false"]::after {
    top: 25px;
    position: absolute;
    right: 20px;

    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;

    transition: 150ms ease-in;

  }

  a[aria-expanded="true"]::after {
    top: 25px;
    position: absolute;
    right: 20px;

    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;

    transition: 150ms ease-in;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  #sidebar {

    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;

    overflow-y: auto;

    color: #3c4858;
    font-weight: 300;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);


    background: #fff;
    background:
            /* top, transparent red */
            linear-gradient(
                            rgba(255,255,255, 0.93),
                            rgba(255,255,255, 0.93)
            ),
            url(asset-path('sidebar-1.23832d31.jpg'));

    background-size: cover;
    background-position: 50%;

    /*background-image: linear-gradient(to bottom, #3aa6dc, #2e77b9, #21559f);*/

    // новый стиль

/*    background: #0747A6;
    color: #DEEBFF;
    fill: #0747A6;*/

    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;

  }


  #sidebar .sidebar-header {

    margin-right: 13px;
    margin-left: 13px;
    margin-top: 5px;
    /*background: #1565c0;*/
    color: #a9afbbd1;
    color: #ffffff;
    color: #3c4858;
    font-weight: 300;

    font-size: 18px;
    white-space: nowrap;
    line-height: 30px;
    border-bottom: 1px solid hsla(0,0%,71%,.1);

    padding: 15px 0;
    text-align: center;
  }

  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }

  #sidebar ul li:first-child {
    margin-top: 25px;
  }

  #sidebar ul ul li:first-child {
    margin-top: 5px;
  }

  #sidebar ul ul li a{
    padding-left: 25px;
  }

  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    margin: 10px 17px 0;
    border-radius: 3px;
    padding-left: 10px;
    line-height: 30px;
    font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
    color: #3c4858;
    color: #ffffff;
    color: #3c4858;

  }



  #sidebar ul li a i {
    font-size: 21px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #a9afbb;
    color: #f44336;
    color: #00bcd4;
    //color: #ffffff;
    //color: #a9afbb;
    color: rgba(0, 0, 0, .23);

  }

  #sidebar ul li a span {
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;

    margin: 0;
    font-size: 14px;
    white-space: nowrap;

    font-weight: 400;
    font-style: normal;

  }

  #sidebar ul li a:hover {


    background-color: rgba(200,200,200,.2);
    background-color: rgb(28,99, 206);
    background-color: rgba(200,200,200,.2);
    color: #3c4858;
    box-shadow: none;

    /*color: #ffffff;*/

  }

  #sidebar ul li.active > a {
    background-color: #00bcd4;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);

    background-color: #007bff;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 123, 255, 0.4);

/*    background-color: #00bcd4;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 188, 212, .4);*/


  }

  #sidebar ul li.active > a i {
    color: #fff
  }

  #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
  }

  a {
    outline: 0;
  }

  .active {

  }

  /* Shrinking the sidebar from 250px to 80px and center aligining its content*/
  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;


  }

  /* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
  #sidebar .sidebar-header strong {
    display: none;
  }
  #sidebar.active .sidebar-header h3 {
    display: none;
  }
  #sidebar.active .sidebar-header strong {
    display: block;
  }

  #sidebar.active ul li:first-child {
    margin-top: 37px;
  }

  #sidebar.active ul li a {
    padding-top: 35px;
    padding-bottom: 13px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;

    margin-top: 13px;

  }

  #sidebar.active ul li a i {
    /*    margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 15px;
        line-height: 5px;*/
    margin-top: -25px !important;

  }

  #sidebar.active ul li a span {
    display: none;
  }

  #sidebar.active .dropdown-toggle::after {
    display: none;
  }

  /* Same dropdown links padding*/


  #sidebar.active ul ul a {
    padding: 5px !important;
  }



  /* Changing the arrow position to bottom center position,
     translateX(50%) works with right: 50%
     to accurately  center the arrow */
  #sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
}

@media (max-width: 768px) {
  /* 80px and its content aligned to centre. Pushing it off the screen with the
     negative left margin
  */
  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }


  /* Reappearing the sidebar on toggle button click */
  #sidebar {
    margin-left: 0;

  }


  /* Toggling the sidebar header content,
     hide the big heading [h3] and showing the small heading [strong] and vice versa
  */
  #sidebar .sidebar-header strong {
    display: none;
  }
  #sidebar.active .sidebar-header h3 {
    display: none;
  }
  #sidebar.active .sidebar-header strong {
    display: block;
  }

  /* Downsize the navigation links font size */
  #sidebar.active ul li a {
    padding: 20px 10px;
    font-size: 0.85em;
  }

  #sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
  }



  /* Changing the arrow position to bottom center position,
    translateX(50%) works with right: 50%
    to accurately  center the arrow */
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
}

.login-page-admin{
  background-color: #191919;
  background:
          /* top, transparent red */
          linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,0)),
            /* your image */
          url(https://images.wallpaperscraft.ru/image/chevrolet_corvette_stingray_c7_shevrole_korvet_stingrej_95549_1920x1080.jpg);

  background: #0052cc;

  color: #fff;
  background-position: top center;;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;

}

.container-table {
  display: table;
}

.red-panel{
  background-color: #0065ff;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 101, 255, 0.4);
}

.devise-container {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  border-radius: 6px;
  max-width: 300px;
  margin-top: 40px;
}

.devise-container-header{
  border-radius: 3px;

  padding: 15px;
  margin-top: -20px;

}

$bg-color: #424242;
$hl-color: #0065ff;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 100%;



.group {
  position: relative;
  margin: 18px 0;


  // INPUTS // ============================== //
  textarea {
    resize: none;
  }

  input,
  textarea {
    background: none;
    color: black;
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: $width;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $muted-color;
    &:focus {
      outline: none;
    }
    &:focus ~ label,
    &:valid ~ label {
      top: -14px;
      font-size: 12px;
      color: $hl-color;
    }
    &:focus ~ .bar:before {
      width: $width;
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  label {
    color: $muted-color;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    /*top: 10px;*/
    top: 8px;
    transition: $trans-time ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: $width;
    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: $hl-color;
      transition: $trans-time ease all;
      left: 0%;
    }
  }
}

.btn.btn-login{
  background: #0052cc;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
}

.btn.btn-login:hover, .btn.btn-login:focus{
  box-shadow: none;
  outline: none;
}

.btn-toggle {
  background: #fff;
  height: 46px;
  width: 46px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  outline: 0;
}

.btn-toggle:hover {
  box-shadow: 0 14px 26px -12px rgba(153,153,153,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(153,153,153,.2);
}

.btn-toggle:focus, .btn-toggle:active {
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.card {
  border: 0;
/*  border-top-width: 4px;
  border-top-style: solid;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-color: #007bff;*/
  border-radius: 6px;
  color: #333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

  padding: 10px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
  border-radius: 4px;
}

.card-header {
  color: white;
  border-radius: 3px !important;
  border: 0;
  margin-top: -30px;
  margin-left: 5px;
  margin-right: 5px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.card-icon-container {
  border: 0;
  margin-top: -30px;
  border-radius: 6px;
  color: #333;
  background: #fff;
  width: 80px !important;
  height: 80px !important;
}

.green {
  background: linear-gradient(60deg,#66bb6a,#43a047);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4);
}

.real-blue {
  background: linear-gradient(60deg,#007bff,#0074f0);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 123, 255,.4);
}

.blue {
  background: linear-gradient(60deg,#26c6da,#00acc1);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
}

.orange {
  background: linear-gradient(60deg,#ffa726,#fb8c00) !important;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
}

.red {
  background: linear-gradient(60deg,#ef5350,#e53935);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
}

.card-icon {
  color: white;
  font-size: 39px;

}

.with-margin {
  margin-bottom: 30px;
  margin-top: 30px;
}

.bread {
  font-size: 17px;
  font-weight: bold;
  color: #0052cc !important;

  font-size: 1.125rem;

  font-weight: 300;

  color: #3c4858 !important;
}

.bread:hover {
  color: #0065ff !important;
}

.user-link {
  border-bottom: 1px solid rgba(181, 181, 181, 0.1);
  padding-bottom: 15px;
}

.user-link img {
  border-radius: 50%;
}

.user-link a[aria-expanded="false"]::after {
  top: 30px;
}

.user-link a[aria-expanded="true"]::after {
  top: 30px;
}

.btn-custom {

  font-size: .75rem;
  font-weight: 400;
  line-height: 1.42857143;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: 0;
  cursor: pointer;
  border: 0;
  border-radius: .2rem;
  transition: box-shadow .2s;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  box-shadow: 0 2px 2px 0 rgba(0, 123, 255, .14), 0 3px 1px -2px rgba(0, 123, 255, .2), 0 1px 5px 0 rgba(0, 123, 255, .12);
}

.btn-custom:hover, btn-custom:focus, btn-custom:active {
  outline: 0;
  border: 0;
  background-color: #007bff;
  box-shadow: 0 14px 26px -12px rgba(0, 123, 255,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0, 123, 255,.2);
}

.table-label:first-child {

  color: white;
  border-radius: 3px;
  margin-top: -30px;
  margin-left: 5px;
  margin-right: 5px;

  padding-top: 20px;
  padding-bottom: 5px;

  background: linear-gradient(60deg,#007bff,#0074f0);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 123, 255,.4);

}

#issueTable {
  tbody > tr > td {
    vertical-align: middle;
  }
}

.table.no-border tr:first-child th {
  border-width: 0;
}

.dataTables_filter{
  .blue-form-control {

    /*    border: 1px solid #f44336;
        box-shadow: none;*/
    /*border-radius: 0;*/
    /*border-bottom: 1px solid grey;*/
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    border: 0;
    color: #fff !important;

    border-radius: 12px;
    background: #fff;
    color: black !important;
    margin-right: 5px;
    margin-top: -5px;
  }

  .form-control:focus{

  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #007bff;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #007bff;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #007bff;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #007bff;
  }

}

.dataTables_length {
  margin-top: -3px;
}

.delete-button {
  min-width: 8.5rem;
  border-radius: 1.5rem;
  background-color: #fa626b;
  -webkit-box-shadow: 0 10px 18px 0 rgba(62,57,107,.2);
  box-shadow: 0 10px 18px 0 rgba(62,57,107,.2);
}
.custom-button-blue{
  border-radius: 30px;
  color: #fff;
  border-color: #007bff;
  box-shadow: 0 2px 2px 0 rgba(0, 123, 255,.14), 0 3px 1px -2px rgba(0, 123, 255,.2), 0 1px 5px 0 rgba(0, 123, 255,.12);
  background-color: #007bff;
}

.no-radius {
  border-radius: 0;
}

.custom-button-blue:hover {
  color: white;
  box-shadow: 0 14px 26px -12px rgba(0, 123, 255,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0, 123, 255,.2);
}

.custom-button-red {
  border-radius: 30px;
  color: #fff;
  border-color: #ff3636;
  box-shadow: 0 2px 2px 0 rgba(239, 83, 80,.14), 0 3px 1px -2px rgba(239, 83, 80,.2), 0 1px 5px 0 rgba(239, 83, 80,.12);
  background-color: #ff3636;
}

.custom-button-red:hover {
  color: white;
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(239, 83, 80,.2);
}

.custom-button-yellow {
  border-radius: 30px;
  color: #fff;
  border-color: #ff9800;
  box-shadow: 0 2px 2px 0 rgba(255, 167, 38,.14), 0 3px 1px -2px rgba(255, 167, 38,.2), 0 1px 5px 0 rgba(255, 167, 38,.12);
  background-color: #ff9800;
  box-shadow: 0 2px 2px 0 rgba(255,152,0,.14), 0 3px 1px -2px rgba(255,152,0,.2), 0 1px 5px 0 rgba(255,152,0,.12);
}

.custom-button-yellow:hover {
  color: white;
  box-shadow: 0 14px 26px -12px rgba(255, 167, 38,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(255, 167, 38,.2);
}

.custom-button-green {
  border-radius: 30px;
  color: #fff;
  border-color: #4caf50;
  box-shadow: 0 2px 2px 0 rgba(102, 187, 106,.14), 0 3px 1px -2px rgba(102, 187, 106,.2), 0 1px 5px 0 rgba(102, 187, 106,.12);
  background-color: #4caf50;
}

.custom-button-green:hover {
  color: white;
  box-shadow: 0 14px 26px -12px rgba(102, 187, 106,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(102, 187, 106,.2);
}


.btn:hover {
  color: white;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
  color: white;
}


.note-editor.note-frame .note-editing-area .note-editable {
  p {
    margin-bottom: 0.8rem;
  }
}

.card-avatar {
  max-width: 130px;
  max-height: 130px;
  margin: -50px auto 0;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

  img {
    width: 100%;
    height: auto;
  }

}


.span4 .img-left {
  float: left;
}
.span4 .img-right {
  float: right;
}

.cardUrl {
  transition: transform .3s;
}

.cardUrl:hover {
  transform: scale(1.05);
}

.card-image-empty {
/*  background-image: -webkit-linear-gradient(45deg,#f95058,#fc9197);
  background-image: -moz-linear-gradient(45deg,#f95058,#fc9197);
  background-image: -o-linear-gradient(45deg,#f95058,#fc9197);
  background-image: linear-gradient(45deg,#f95058,#fc9197);
  background-repeat: repeat-x;*/

/*  background:
          !* top, transparent red *!
          linear-gradient(45deg,rgba(0, 123, 255, 1),rgba(0, 123, 255, 0.5)),
            !* your image *!
          url(https://cdn.pixabay.com/photo/2017/05/04/17/17/bokeh-2284591_960_720.jpg);
  color: #fff;
  background-position: top center;;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;*/

}


#circle {
  position: relative;
  top: 45%;
  left: 2px;
  width: 100%;

}

.ggt {
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 1.50rem;
  font-style: normal;
  font-weight: normal;
}

.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1
}

.badge-upper {
  text-transform: uppercase;
}

.highlight {
  border: 1px solid red;
  font-weight: bold;
  background-color: lightblue;
}

.dropzone-button {

  /*  padding: 12px 30px;
    margin: .3125rem 1px;
    min-width: auto;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.42857143;
    text-decoration: none;
    text-transform: uppercase;*/

  border-radius: 30px;

  color: #fff;
  background-color: #f44336;
  border-color: #f44336;
  box-shadow: 0 2px 2px 0 rgba(244,67,54,.14), 0 3px 1px -2px rgba(244,67,54,.2), 0 1px 5px 0 rgba(244,67,54,.12);
}

.dropzone-button:hover {
  color: white;
  box-shadow: 0 14px 26px -12px rgba(244,67,54,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(244,67,54,.2);
}

.no-caret > .dropdown-toggle:after { content: none }

.table-colors {
  transition: background-color 0.5s ease;
}

.table-orange {
  background: orange;
}


