<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h3> Post<b>Desk</b></h3>
    <strong>PD</strong>
  </div>

  <ul class="list-unstyled components">

    <li class="user-link">

      <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <img src="<%=current_user.avatar.url %>" alt="user avatar" height="42" width="42">
        <span style="padding-left: 15px"><%= current_user.username %></span>
      </a>

      <ul class="collapse list-unstyled" id="userSubmenu">
        <li>
          <a href="#">Page 1</a>
        </li>
        <li>
          <a href="#">Page 2</a>
        </li>
        <li>
          <a href="#">Page 3</a>
        </li>
      </ul>
    </li>

    <% if current_user.group == 'user'%>
        <li class="<%= 'active' if current_page?(users_main_path) %>">
          <%= link_to users_main_path, method: :get do %>
              <i class="fa fa-home"></i>
              <span>Домой</span>
          <% end %>
        </li>
    <% end %>


    <% if current_user.group == 'support'%>

        <li class="<%= 'active' if current_page?(supports_dashboard_path) %>">
          <%= link_to supports_dashboard_path, method: :get do %>
              <i class="fa fa-tachometer"></i>
              <span>Дашборд</span>
          <% end %>
        </li>

        <li class="<%= 'active' if current_page?(supports_main_path) %>">
          <%= link_to supports_main_path, method: :get do %>
              <i class="fa fa-tasks"></i>
              <span>Все заявки</span>
          <% end %>
        </li>
        <li class="<%= 'active' if current_page?(supports_issues_path) %>">
          <%= link_to supports_issues_path, method: :get do %>
              <i class="fa fa-tasks"></i>
              <span>Мои заявки</span>
          <% end %>
        </li>
        <li class="<%= 'active' if current_page?(supports_comments_path) %>">
          <%= link_to supports_comments_path, method: :get do %>
              <i class="fa fa-comments"></i>
              <span>Комментарии</span>
          <% end %>
        </li>
        <li class="<%= 'active' if current_page?(users_all_path) %>">
          <%= link_to users_all_path, method: :get do %>
              <i class="fa fa-user"></i>
              <span>Пользователи</span>
          <% end %>
        </li>
    <% end %>

    <% if current_user.group == 'admin'%>
        <li class="<%= 'active' if current_page?(supports_dashboard_path) %>">
          <%= link_to supports_dashboard_path, method: :get do %>
              <i class="fa fa-tachometer"></i>
              <span>Дашборд</span>
          <% end %>
        </li>

        <li class="<%= 'active' if current_page?(supports_main_path) %>">
          <%= link_to supports_main_path, method: :get do %>
              <i class="fa fa-tasks"></i>
              <span>Все заявки</span>
          <% end %>
        </li>
        <li class="<%= 'active' if current_page?(supports_issues_path) %>">
          <%= link_to supports_issues_path, method: :get do %>
              <i class="fa fa-tasks"></i>
              <span>Мои заявки</span>
          <% end %>
        </li>
        <li class="<%= 'active' if current_page?(supports_comments_path) %>">
          <%= link_to supports_comments_path, method: :get do %>
              <i class="fa fa-comments"></i>
              <span>Комментарии</span>
          <% end %>
        </li>
        <li class="<%= 'active' if current_page?(users_all_path) %>">
          <%= link_to users_all_path, method: :get do %>
              <i class="fa fa-user"></i>
              <span>Пользователи</span>
          <% end %>
        </li>

        <li>
        <%= link_to admins_categories_path do %>
            <i class="fa fa-eye"></i>
            <span>Категории</span>
        <% end %>
        </li>
        <li>
          <%= link_to admins_response_time_path do %>
              <i class="fa fa-clock-o"></i>
              <span>Время реагирования</span>
          <% end %>
        </li>
    <% end %>
  </ul>
</nav>

<% if current_user.group == 'support' || current_user.group == 'admin' %>
    <%= subscribe_to "/issues/all" %>
<% end %>