<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: transparent !important;">
  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn btn-toggle">
      <i id="toggleIcon" class="fa fa-ellipsis-v"></i>
    </button>
    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="nav navbar-nav" style="margin-left: 50px">
        <li class="nav-item">
          <!--<a class="nav-link bread" href="#">Домой</a>-->
        </li>
      </ul>

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown no-caret">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell fa-lg" aria-hidden="true">
              <span class="badge badge-light" style="position: absolute;
                  top: -0.6rem; right: -0.3rem" id="unreadNotifications"></span>
            </i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" id="notifications">
          </div>
        </li>
        <%= subscribe_to "/notifications/#{current_user.id}" %>

        <% if current_user.group == 'support' || current_user.group == 'admin'%>
          <li class="nav-item">
            <%= link_to supports_comments_path, class: 'nav-link', id: 'navbarDropdown', method: :get,
                        style: 'position: relative' do%>
              <i class="fa fa-comments fa-lg">
                <span class="badge badge-light" style="position: absolute;
                    top: -0.6rem; right: -0.3rem" id="unreadCount"></span>
              </i>
            <% end %>
          </li>
            <%= subscribe_to "/comments/count/#{current_user.id}" %>
        <% end %>

        <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link') %>
        </li>
        <li class="nav-item">

        </li>
      </ul>
    </div>
  </div>
</nav>



